<!-- public/components/sidebar.html -->
   <div class="ui-buttons">
      <button class="neon-button" id="walletToggle">Connect Wallet</button>
      <div class="wallet-status" id="walletStatus">Wallet not connected</div>
      <div class="wallet-balance" id="bonkboyBalance">Balance: -</div>
      <button class="neon-button retry-button" id="retryBalance" style="display: none;">Retry Balance</button>
      <button class="neon-button" onclick="location.href='memegenerator.html'">Meme Generator</button>
      <button class="neon-button" onclick="location.href='merch.html'">Merch</button>
      <button class="neon-button" onclick="location.href='media.html'">Media</button>
      <button class="neon-button" onclick="location.href='competitions.html'">Competitions</button>
      <button class="neon-button" onclick="location.href='roadmap.html'">Roadmap</button>
      <button class="neon-button" onclick="location.href='whitepaper.html'">Whitepaper</button>
      <button class="neon-button" onclick="location.href='topholders.html'">Top Holders</button>
    </div>
